__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/


/staticfiles/
/media/

logs/
*.log
staticfiles/
    
# Celery beat holati (dev rejimida loyiha papkasiga yoziladi)
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid
